@model KarateIsere.DataAccess.Competition

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>



@Html.Partial( "Create", @Model )
<div>
    @Html.ActionLink("Retour", "Index")
</div>
