@model IEnumerable<KarateIsere.DataAccess.Inscriptions>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inscriptions aux compétitions</h2>
<hr />
<p>
    @Html.Partial("Create")
</p>
