@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <b>Comité départemental de l'Isère</b>
    <br />
    52 allée des Frênes - 38340 Voreppe<br />
    <span class="glyphicon glyphicon-phone" aria-hidden="true"> : 06 95 91 95 79</span>
</address>

<address>
    <span class="glyphicon glyphicon-envelope">
        <strong>Président :</strong>   <a href="mailto:president@karateisere.fr"> president@karateisere.fr</a><br />
    </span>
</address>

<address>
    <span class="glyphicon glyphicon-envelope">
        <strong>Web master :</strong>   <a href="mailto:admin@karateisere.fr"> admin@karateisere.fr</a><br />
    </span>
</address>