@using KarateIsere.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="pull-left">
        <img width="115" src="~/img/logo.gif" />
    </div>
    <div class="">
        <h1>Comité Départemental de l'Isère</h1>
    </div>
    <p class="lead text-justify">
        Le Comité Départemental de l'Isère est heureux de vous présenter sa nouvelle application d'inscription aux compétitions.
        Nous espérons que cette nouvelle interface facilitera son utilisation.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Les clubs en Isère</h2>
        <p>
            Vous êtes nouveau dans notre région ou vous venez simplement de déménager et vous ne savez pas s'il y a des clubs d'arts martiaux près de chez vous,
            cette page web est faite pour vous, venez y découvrir l'emplacement des clubs du département.
        </p>
        <p>
            @Html.ActionLink( "Liste des clubs "+HttpUtility.HtmlDecode( "&raquo;" ), "Index", "ClubMap", new {
           area="Public"
       }, new {
           @class="btn btn-default"
       } )
        </p>
    </div>
    <div class="col-md-4">
        <h2>Votre club</h2>
        <p>
            Votre club se modernise et change de site web ou bien vous avez un nouveau bureau ou de nouveaux professeurs. Venez mettre à jour
            vos informations sur cette page dédiée aux clubs.
        </p>

        <p>
            @Html.ActionLink( "Vos informations "+HttpUtility.HtmlDecode( "&raquo;" ), "Edit", "Club", new {
           area="Public"
       }, new {
           @class="btn btn-default"
       } ) 
        </p>


    </div>
    <div class="col-md-4">
        <h2>Compétitions</h2>
        <p>
            Gérer les inscriptions de vos compétiteurs aux compétitions organisées par le département en toute simplicité. Cette application
            vous permet de facilement ajouter, supprimer ou modifier les informations d'inscriptions de vos compétiteurs.
        </p>
        <p>
            @Html.ActionLink("Inscriptions " + HttpUtility.HtmlDecode("&raquo;"), "Index", "Inscriptions", new {
        area = "Private"
    }, new {
        @class = "btn btn-default"
    })

    </div>
</div>