<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />     
  </system.net>
  
  <system.serviceModel>
    <client>      
      <endpoint address="http://maps.google.com/maps/api/geocode/"
     binding="webHttpBinding"
     bindingConfiguration="webBinding"
     behaviorConfiguration="geocodingBehavior"
     contract="GoogleAPI.Maps.Services.IGeocoding"
     name="GoogleGeocondigREST" />

      <endpoint address="http://maps.google.com.br/maps/api/directions/"
     binding="webHttpBinding"
     bindingConfiguration="webBinding"
     behaviorConfiguration="geocodingBehavior"
     contract="GoogleAPI.Maps.Services.IDirections"
     name="GoogleDirectionsREST" />
    </client>

    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="None"></security>
        </binding>
      </webHttpBinding>    
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="geocodingBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>